<!-- FILEPATH: /d:/Documents/Code/py/esp/templates/index.html -->
<!DOCTYPE html>
<html>
    <head>
        <title>Smart Parking System</title>
        <style>
            .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
        </style>
    </head>
    <body>
        <h1>Welcome to Smart Parking System</h1>
        <p>This is a simple Flask app.</p>

        <div class="grid-container">
            <div class="grid-child black">
                <img src="{{ url_for('video_feed') }}" width="100%">
            </div>
            <div class="grid-child blue">
                <h2>Available Parking Slots</h2>
                <p>Number of available parking slots: 3</p>
                <h2>Occupied Parking Slots</h2>
                <p>Number of occupied parking slots: 1</p>
            </div>
        </div>
    </body>
</html>
