<!-- FILEPATH: /d:/Documents/Code/py/esp/templates/index.html -->
<!DOCTYPE html>
<html>
    <head>
        <title>Smart Parking System</title>
        <style>
            .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
        </style>
    </head>
    <body>
        <h1>Welcome to Smart Parking System</h1>
        <div class="grid-container">
            <div class="grid-child black">
                <img src="{{ url_for('video_feed') }}" width="100%">
            </div>
        </div>
    </body>
</html>
